.principal {
    width: 1000px;
    height: 700px;
}

body {
    background-color: aliceblue;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    text-align: center;
    color: rebeccapurple;
}

p {
    text-align: center;
    font-size: 20px;
}
img {
    display: block;
    margin: auto;
    max-width: 50%;
    height: 50%;
}

a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin:50px;
    text-align: left;
}